body {
  background-color: hsl(218, 23%, 16%);
  margin-left: 450px;
  margin-top: 100px;
  display: absolute;
}

@font-face {
  font-family: "manrope";
  src: url(font/Manrope-SemiBold.ttf);
}
div {
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: absolute;
}
h4 {
  color: hsl(150, 100%, 66%);
  font-family: "manrope";
  padding-top: 20px;
  letter-spacing: 5px;
}
p {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  font-family: "manrope";
}
.btn {
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-bottom: 10px;
}
button {
  background-color: hsl(150, 100%, 66%);
  display: flex;
  padding: 10px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: -30px;
  margin-left: 200px;
  border: none;
}
button:hover {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 20px hsl(150, 100%, 66%), 10px 10px 20px rgba(0, 0, 0, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1), 10px 20px 30px rgba(0, 0, 0, 0.1);
  display: flex;
}
